.statistics-dictionary-name {
  font-weight: bold;
}

/* progress bars with centered text */
.progress {
  position: relative;
}

.progress span.progress-centered {
  position: absolute;
  display: block;
  width: 100%;
  color: #000;
  font-weight: bold;
}
